@model int
<div>影片待開發</div>

<script type="text/javascript">
    function CourseQuery() { //課程查詢
        $.post("@Url.Content("~/Course/CourseQuery?SubjectId=" + Model)", function (x) {
            //x.Data //課程清單
        });
    };
    function CourseVideo(Seq) {
        window.location.href = "@(Url.Content("~/Course/CourseVideo?SeqId="))" + Seq;
    };
</script>