@model QiuYudengMathematics.Models.ViewModels.CourseManagementViewModel

<br />
<br />
<br />
<br />
<div>@(Model.CourseName)</div>
<video id="VIdeo" controls controlsList="nodownload"></video>

<script>
    $(document).ready(function () {
        $.post("@(Url.Content("~/Course/GetVideo?SeqId=") + Model.CourseSeq)", function (x) {
            document.getElementById("VIdeo").src = x.Data;
        });
    });
</script>