@model QiuYudengMathematics.Models.ViewModels.CourseManagementViewModel

<br />
<br />
<br />
<br />
<div style="text-align:center;">
    <video controls controlsList="nodownload">
        <source src="@Model.Url" type="video/mp4" />
    </video>
    <div>
        @using (Html.BeginForm("CourseLearn", "Course", new { SubjectId = Model.SubjectId }, FormMethod.Post, null))
        {
            <input type="submit" class="btn btn-primary" value="回清單" />
        }
    </div>
</div>