@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/vue2.6.14.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    @Styles.Render("~/css/main.css")
    @Styles.Render("~/css/login.css")
</head>
<body>
    <div id="app" class="layout__container" style="text-align:center;">
        <div class="layout__top">
            <img src="~/Content/logo.svg" />
            <div class="login_title_wrapper">
                <h1>邱宇登升大學中心</h1>
                <h4>CHIU YU TENG'S INSTITUTE OF EDUCATION</h4>
                <h4 id="login_title__des">宇登數位學習平台</h4>
            </div>
        </div>
        <div class="layout__login">
            <h3><i class="fa fa-user"></i>會員系統</h3>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <span>帳號</span><input class="layout__keyin" type="text" name="Account" />
                <span>密碼</span><input class="layout__keyin" type="password" name="Password" />
                <input class="layout__login--btn" type="submit" value="登入" />
            }
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    const vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello Worldy'
        },
        mounted: function () {
            if ('@(TempData["Message"])' != '')
                alert('@TempData["Message"]');
        }
    });
</script>