.account {
    max-width: 1200px;
    position: relative;
    margin: 50px auto 0;
    display: flex;
}

.account__container {
    width: 80vw;
    margin: 0 auto;
}
.account__search-bar--flex {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    margin-left: 5%;
}
.account__search-bar--flex input {
    height: 40px;
    width: 20vw;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: text;
    padding-left: 40px;
    padding-right: 20px;
    background-position: 5px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-256.png");
    background-size: 30px;
    background-repeat: no-repeat;
}

.account__table {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.account__th {
    background-color: #e2e2e2;
    text-align: left;
    color: #787878;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
}
.account__tr {
    display: contents;
}
.account__td {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f7f7f7;
    padding: 10px 20px;
    text-align: center;
}

.account__tr:nth-child(even) .account__td {
    background: #f0f0f0;
}
.account__td a{
    cursor:pointer;
    padding:10px;
}
.account__grade-sorting {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
}
.account__grade-btn {
    width: 12px;
    height: 8px;
    display: inline-block;
    margin: 3px;
    border:5px;
}
.account__grade-btn:hover {
    cursor: pointer;
}
.account__grade-sorting .active {
    background-color: #007bff;
}
.account__grade-sorting .active {
    background-color: #007bff;
}
.account__grade-ascending {
    background-color: #787878;
    position: relative;
}
.account__grade-descending {
    background-color: #787878;
    position: relative;
}
.account__grade-ascending:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    border-right: 6px solid #e2e2e2;
    border-left: 6px solid #e2e2e2;
}
.account__grade-descending:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 6px solid #e2e2e2;
    border-left: 6px solid #e2e2e2;
}
