.account{
    max-width:1200px;
    position:relative;
}

.account__container {
    width: 80vw;
    margin: auto;
}
.account__search-bar--flex {
    display: flex;
    margin: 20px 0;
    justify-content:space-between;
}
.account__search-bar--flex input {
    height: 40px;
    width: 20vw;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: text;
    padding-left: 40px;
    padding-right: 20px;
    background-position: 5px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-256.png");
    background-size: 30px;
    background-repeat: no-repeat;
}

.account__table {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.account__th {
    background-color: #e2e2e2;
    text-align: left;
    color: #787878;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
}
.account__tr {
    display: contents;
}
.account__td {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f7f7f7;
    padding: 10px 20px;
    text-align: center;
}

.account__tr:nth-child(even) .account__td {
    background: #f0f0f0;
}
.account__td a{
    cursor:pointer;
    padding:10px;
}
a.blue-btn {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #0081d2;
    color: #0081d2;
    margin: 5px 5px 5px 0;
    text-align: center;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}
a.blue-btn:hover {
    background-color: #004280;
    color: #fff;
    text-decoration: none;
}
a.red-btn {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #990412;
    color: #0081d2;
    margin: 5px 5px 5px 0;
    text-align: center;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
}
a.red-btn:hover {
    background-color: #c00;
    color: #fff;
    text-decoration: none;
}
.account__popup--wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #1717177d;

}
.account__popup {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-150px, -100px);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:20px;

}
.account__popup--heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    padding-bottom: 8px;
}
.account__popup--heading span {
    font-weight: bold;
}
.account__popup--heading i {
    cursor:pointer;
    padding:5px;
}
.account__popup--body{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.account__popup--body .width200 {
    width: 200px;
    justify-content: flex-start;
    flex-wrap: wrap;
    }
.account__popup--body .width200 label {
    margin-right: 20px;
}
.account__popup--radio-wrap{
    width:80px;
}
.account__popup--body div {
    display: flex;
    justify-content: space-between;
}
.account__popup--body div:not(:last-child) {
    padding-bottom: 6px;
}
.account__popup--body P {
    margin-right: 10px;
}
.account__popup--footer {
    align-self: flex-end;
}