.home__intro {
    
    max-width:80%;
    margin:0 auto;
}
    .home__intro h1 {
        display: inline-block;
    }
.mycourse {
    width: 80%;
    margin: 0 auto;
}
.home-course__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.home-course__item {
    display: block;
    font-size: 14px;
    padding: 8px 2px;
    border-radius: 10px;
    border: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}
    .home-course__item a {
        color: #fff;
        vertical-align: middle;
        display:block;
    }
    .home-course__item a:hover {
        text-decoration: none;
        color: #fff;
    }
    .home-course__item:hover {
        box-shadow: 0 0 15px #fff;
    }


.announcemnet{
    max-width:80%;
    margin:0 auto;
    margin-top:20px;
}

.announcemnet__wrapper {
    margin-top: 20px;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.announcemnet__main {
}

    .announcemnet__main h3 {
        display: block;
        padding: 0 2% 2%;
    }
.announcemnet__btn-wrapper {
    border: 1px solid #808080;
    border-left: none;
    border-right: none;
    padding:5px 1%;
}
.announcemnet__show{
    margin-bottom:10px;
}
.announcemnet__show a {
    cursor: pointer;
}
    .announcemnet__show a:hover {
        text-decoration: none;
    }
.announcemnet__btn-wrapper a {
    cursor: pointer;
}
    .announcemnet__btn-wrapper a:hover {
        text-decoration:none;
    }

.announcemnet__btn-wrapper textarea {
    width: 50%;
    background-color: #F0F2F5;
}

@media screen and (max-width: 580px) {
}
