.bulletin {
    max-width: 1200px;
    position: relative;
    margin: 50px auto 0;
    display: flex;
}

.bulletin__container {
    width: 80vw;
    margin: 0 auto;
}

.bulletin__topWrapper {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    margin-left: 5%;
}
.bulletin__select{
    display:inline-block;
}
.bulletin__select select {
    height: 40px;
    width: 20vw;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 20px;
    background-position: 5px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-256.png");
    background-size: 30px;
    background-repeat: no-repeat;
}
    .bulletin__select option{
        text-align:start;   
    }
    .bulletin__table {
        display: grid;
        font-size: 16px;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }

.bulletin__th {
    background-color: #e2e2e2;
    text-align: left;
    color: #787878;
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
}

.bulletin__tr {
    display: contents;
}

.bulletin__td {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f7f7f7;
    padding: 10px 20px;
    text-align: center;
}

.bulletin__tr:nth-child(even) .bulletin__td {
    background: #f0f0f0;
}

.bulletin__td a {
    cursor: pointer;
    padding: 10px;
}

.bulletin__content{
    text-align:start;
}
.popup--body textarea{
    height:80px;
}
.popup--footer a.disabled {
    pointer-events: none;
    background-color: gray;
    cursor: no-drop;
    border: 1px solid #fff;
}

@media screen and (max-width: 480px) {

    .bulletin__select select {
        width: 180px;
    }

    .bulletin__th {
        padding: 5px 8px;
    }

    .bulletin__td {
        padding: 5px 8px;
    }

    .bulletin__pre {
        display: none;
    }

    .bulletin__next {
        display: none;
    }
}