/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}

:root {
    --color-background: #f8d344;
    --color-title: #001e80;
    --color-blue: #2F2760;
    --color-blue-light: #90929E;
    --color-white-base: #F1FCDC;
    --color-green-light: #88DB8D;
    --color-green: #1FBA3D;
    --color-green-dark: #609436;
    --color-brown: #A06E2F;
    --color-brown-light: #C39925;
    --color-yellow: #E6C41A;
    --color-gray: #D3D3D3;
}
html {
    background-color: var(--color-background);
}
.body {
    background-color: var(--color-background);
}

/*----------------------------------------
  Layout
----------------------------------------*/
#container {
    background: var(--color-gray-lightest);
}

#app {
    font-family: "微軟正黑體", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif";
}


#app h2 {
    font-size: 36px;
    line-height: 1.3em;
    font-weight: bold;
}

#app h3 {
    font-size: 18px;
    line-height: 1.4em;
}

    #app h4 {
        font-size: 32px;
        line-height: 1.75;
        font-weight: bold;
        color: var(--color-black);
    }

    #app h5 {
        font-size: 24px;
        line-height: 1.67;
        color: var(--color-black);
    }

    #app h6 {
        font-size: 20px;
        line-height: 1.6;
        font-weight: bold;
        color: var(--color-black);
    }

    #app p {
        font-size: 14px;
        line-height: 1.5em;
    }


/*btn*/
a.blue-btn {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #0081d2;
    color: #0081d2;
    margin: 5px 5px 5px 0;
    text-align: center;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

    a.blue-btn:hover {
        background-color: #004280;
        color: #fff;
        text-decoration: none;
    }

a.red-btn {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #990412;
    color: #0081d2;
    margin: 5px 5px 5px 0;
    text-align: center;
    background-color: #f00;
    color: #fff;
    cursor: pointer;
}

    a.red-btn:hover {
        background-color: #c00;
        color: #fff;
        text-decoration: none;
    }

/*popup*/
.popup--wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #1717177d;
}

.popup {
    width:400px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-200px, -100px);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.popup--heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    padding-bottom: 8px;
}

    .popup--heading span {
        font-weight: bold;
    }

    .popup--heading i {
        cursor: pointer;
        padding: 5px;
    }

.popup--body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .popup--body .width200 {
        width: 300px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

        .popup--body .width200 label {
            margin-right: 20px;
        }

.popup--radio-wrap {
    width: 80px;
}

.popup--body div {
    display: flex;
    justify-content: space-between;
}

    .popup--body div:not(:last-child) {
        padding-bottom: 6px;
    }
.popup--body ul {
    display: flex;
    flex-flow: row wrap;
}
    .popup--body ul li {
        list-style: none;
        margin-right: 7px;
        margin-bottom: 5px;
        border: 1px solid #caf0f8;
        background-color: #0096c7;
        color: #fff;
        border-radius: 5px;
        padding: 1px;
    }
.popup--body ul li i{
    padding:0 3px;
    cursor:pointer;
}
.popup--body P {
    margin-right: 10px;
}

.popup--footer {
    align-self: flex-end;
}
.popup-body__single-input {
    display: inline-block;
}
.popup-body__single-input input {
    margin-right: 10px;
    height: 36px;
}

/*pagenation*/
.pagenation {
    text-align: center;
    margin-top: 20px
}

    .pagenation a {
        background-color: #fff;
        border: 1px solid #337ab7;
        font-weight: 400;
        padding: 10px;
        border-radius: 8px;
        margin: 5px;
    }

        .pagenation a.active {
            background-color: #007bff;
            border-color: #007bff;
            border: 1px solid #337ab7;
            color: #fff;
        }

        .pagenation a:hover {
            cursor: pointer;
            text-decoration: none;
            color: #0056b3;
            background-color: #e9ecef;
            border-color: #dee2e6;
            border: 1px solid #337ab7;
        }
