@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="jumbotron" style="position:relative;background-color: var(--color-background); height:100%;margin-top: 50px;">
    <img style="max-width:120px; display:inline-block; vertical-align:top;" src="~/Content/logo.svg" />
    <div style="display:inline-block;">
        <h1 style="font-family: DFKai-sb; color: var(--color-title)" class="display-4">
            邱宇登升大學中心
        </h1>
        <p class="lead">邱宇登線上教學平台, 有任何問題請聯絡工作人員, 祝各位同學學習愉快~</p>
        <hr class="my-4">
    </div>
</div>

@*<input type="button" value="Query" onclick="QueryBulletinBoard()" />
  <input type="button" value="LeaveComments" onclick="LeaveComments(false)"
  <input type="button" value="SubLeaveComments" onclick="LeaveComments(true)"/>*@

<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            message: '佈告欄待開發'
        },
    });

    function QueryBulletinBoard() {
        $.post("@(Url.Content("~/Home/QueryBulletinBoard"))", function (x) {
            if(x.Data.length > 0)
                alert(x.Data[0].Content);
            else
                alert('查無資料');
        });
    };
    //Sub => Ture: 回覆留言,False:公佈欄留言
    function LeaveComments(Sub) {
        var data = {
            Seq: 1, //Sub ? 主留言 Seq : 公佈欄 BulletinBoardSeq
            Commentary: '安安你好' //留言
        };
        var Url = Sub ? "@(Url.Content("~/Home/InsertComment"))" : "@(Url.Content("~/Home/InsertComment"))";
        $.post(Url, data, function (x) {
            alert(x.Msg);
        });
    };
</script>