@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>佈告欄待開發</h1>
</div>

<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Worldy'
        },
    });
</script>