@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="jumbotron">
    <div class="layout__top">
        <img src="~/Content/logo.png" />
        <h1>邱宇登升大學</h1>
    </div>
</div>

<script type="text/javascript">
    const app = new Vue({
        el: '#app',
        data: {
            message: '佈告欄待開發'
        },
    });
</script>

<style lang="css">
    
</style>